@import url('https://raw.githubusercontent.com/owennajaaa/dd/refs/heads/main/Neptune.ntws.css');

:root {
  --neptune-main-bg: #a2035;
  --neptune-main-color: #28bd1;
  --neptune-sec-color: #14adf8;
  --neptune-home-icon: url();
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 0%;
  --watermark-filter-saturate: 0%;
  --watermark-filter-hue-rotate: 0;
  --watermark-filter-brightness: 0%;
  --watermark-filter-contrast: 0%;
}
